	<h2>丁半ゲーム</h2>
	<p></p>
	<% form_tag do  -%>
		<%= select_tag(:expected, options_for_select(%W{丁 半}, params[:expected])) %>
		<%= submit_tag "勝負!!" %>
	<% end -%>

	<% unless @result.nil? -%>
		<p>サイコロの出目は<%= @dice1 %>と<%= @dice2 %>で<%= @chouhan %> </p>
		<% if @result == :win -%>
			<p>あなたの勝ちです。</p>
		<% else -%>
			<p>あなたの負けです。</p>
		<% end %>
	<% end %>

