	<h2>レポート</h2>
	<p>サイコロは <%= @count -%> 回振られました。</p>
	<!--
	<ul>
		<li>サイコロを振った回数: <%= @count -%></li>
		<li>そのうち6が出た回数: <%= @count6 -%></li>
	</ul>
	-->

	<h3>統計</h3>
	<ul>
		<% @statistics.each do |value, count| -%>
			<li><%= value %>: <%= count %>回</li>
		<% end -%>
	</ul>

	<hr/>
	<table border>
		<% @rolls.each do |roll| -%>
			<tr><td><%= roll.id -%></td><td><%= roll.value -%></td></tr>
		<% end -%>
	</table>
